body {
    background-image: url(https://geology.com/world/world-map.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    background: rgba(215, 215, 235, 0.6);
    border-radius: 30px;
}
header {
    height: 250px;
    margin-bottom: 5%;
}
.main-header {
    border-bottom: 3px dotted #604439;
}
h2 {
    width: 510px;
    font-family: 'Titan One', cursive;
    font-size: 4em;
    color: #78866b;
    margin-top: 3.3%;
    margin-left: 35%;
    border: 4px dashed red;
    margin-bottom: 10%;
    transform: rotate(-10deg);
}
span {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1.75em;
    text-align: center;
    margin-top: -55px;
} 

#guessedLetters {
    color: red;
}

#pressPlay {
    color: #2231ff;
    margin-top: 0;
    margin-bottom: -40px;
    font-size: 2rem;
}

#answerWord {
    letter-spacing: .25em;
    margin-top: 0;
    font-size: 
    color: black
}

main {
    width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
      }

.flexColumn {
    flex-direction: column;
}

.middle {
    flex: auto;
    order: 2;
    padding: 30px;
    border-right: 4px solid #78866b;
}

.right{
    order: 4;
    overflow-wrap: break-word;
}